<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
<meta charset="ISO-8859-1">
<title>Dual Lists | Beta</title>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	<!-- Style for Cycles -->
	<style>
	
	.node {
	  cursor: pointer;
	}
	
	.node:hover {
	  stroke: #000;
	  stroke-width: 1.5px;
	}
	
	.node--leaf {
	  fill: white;
	}
	
	.label {
	  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	  text-anchor: middle;
	  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
	}
	
	.label,
	.node--root,
	.node--leaf {
	  pointer-events: none;
	}
	
	</style>



</head>
<body>

	<!-- Script for Cycles -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<svg width="500" height="500"></svg>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	
	<input type="hidden" id="top" th:value='${top}'/>
	<input type="hidden" id="keywords" th:value='${keywords}'/>
	
	<script src="js/cycles_pack.js"></script>



	<!-- Two original lists -->
	<h1 style="text-align: center" th:text="'Top Key: ' + ${top}"></h1>
	
	<br>
	<br>
	
	<div style="padding: 100px; padding-top: 10px; float: left">
		<table>
            <thead>
                <tr>
                    <th>Keywords</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="keyword : ${keywords}">
                    <td><a th:text="${keyword}" th:href="'cycles/keyword/keyword?keyword=' + ${keyword}"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 100px; padding-top: 10px; float: right; height: 400px; overflow: scroll">    
        <table>
            <thead>
                <tr>
                    <th>Urls</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="url : ${urls}">
                    <!-- <td><a th:text="${url}" th:href="${url}"></a></td> -->
                    <td><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"></p>&mdash; <a th:href="${url}"></a></blockquote></td>
                </tr>
            </tbody>
        </table>
	</div>
	
	<br>
	<br>
	<br>
	<br>
	<div>
		<form action="#" th:action="@{/cycles/search}" th:object="${postTopKey}" method="post">
			<input type="text" th:field="*{key}" />
			<button type="submit">Submit</button>
		</form>
	</div>

</body>
</html>