<html>
    <head>
        <title>Trending Tweets</title>
        <link href="css/style.css"
        rel="stylesheet">
        
        <!-- <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet"> -->
        
        <!--<style>
            table, th, td {
               border: 1px solid black;
               border-spacing: 0px;
            }
            th, td {
                padding: 10px;
            }
        </style> -->
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Keywords</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tweet : ${tweetList}">
                    <td th:text="${tweet.getId()}"></td>
                    <td th:text="${tweet.getUrl()}"></td>
                    <td th:text="${tweet.getKeywords()}"></td>
                    <td th:text="${tweet.getTime()}"></td>
               
                </tr>
            </tbody>
        </table>
        
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Keyword</th>
                    <th>Children</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="keyPair : ${keyPairList}">
                    <td th:text="${keyPair.getId()}"></td>
                    <td th:text="${keyPair.getKeyword()}"></td>
                    <td th:text="${keyPair.getChildren()}"></td>
               
                </tr>
            </tbody>
        </table>
        
        
        <br />
        <h2>Add Tweet</h2>
        <form action="/addTweet" method="POST">
            Url <input type="text" id="url" name="url" /><br />
            Time <input type="text" id="time" name="time" /><br />
            Keywords <textarea rows="5" cols="70" id="keywords" name="keywords" /></textarea><br />
            <input type="submit" />
        </form>
        
        <!-- <script src="js/custom.js"></script> -->
    </body>
</html>